:root {
  --primary-color: #000000;
  --background-color: #000000;
}

body {
  background-color: var(--background-color);
  font-family: Georgia, serif;
  font-style: cursive;
  text-align: center;
  background-image: url(imagens/pngegg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: all;
  background-position-y: 30%;
  margin-top: 10%;
}

.inputs-container {
  text-align: left;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.header h1 {
  text-align: center;
  color: var(--primary-color);
  margin-top: 100;
  font-family: Georgia, serif;
}

.header h2 {
  text-align: center;
  color: var(--primary-color);
  margin-top: 100;
  font-family: Georgia, serif;
}

.header h3 {
  text-align: center;
  color: var(--primary-color);
  margin-top: 100;
  font-family: Georgia, serif;
}

textarea {
  background-color: #e0d6aa;
  text-align: justify;
  border-radius: 2px;
  height: 50px;
  width: 350px;
  resize: none;
  padding: 50px;
  margin-top: 5px;
  margin-left: auto;
  color: #e2410f;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1;
}

.form-group {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: auto;
  color: var(--primary-color);
  margin-top: 0;
}

input[type="number"] {
  text-align: center;
  margin-bottom: 1%;
  margin-top: 0;
  padding: 0%;
  background-color: #e0d6aa;
  height: 25px;
  width: 30px;
}

button {
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(75, 58, 3);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
  text-shadow: #e2410f 1in;
}

button:hover {
  background-color: #db5d09;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

footer {
}
